/*
    Insert css here.
*/

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icone-right {
    float: right;
}
.dropdownjs:after{
    font-family: Material-Design-Icons;
    content: "\e7bd";
}

#grid div {
    cursor: move;
}